<!--<div data-bind="text: custommessage"></div>-->

<!--<div class="container">-->
    <div class="row" data-bind="afterRender:filterCart">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section_cart">
            <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 categories">Available</h1>
            <div class="cart-block " repeat="foreach: carts, item: 'cart'" data-bind="attr:{id:'id'+cart().cart_id}" >
                    <!-- ko if: (cart().status === 'available' || cart().status === 'active') -->
                        <!-- ko if:cart().status === 'available' -->
                        <div class="front col-md-3 col-sm-6 col-xs-12" data-bind="attr:{id:'id'+cart().cart_id}">
                            <section class="banner" data-bind="attr:{id:'id'+cart().cart_id}">
                                </br></br></br></br></br>
                            </section>
                            <div class="bottomCart">
                                <div class="namecart">
                                    <span class="namesCarts padd" data-bind="text:cart().cart_name">25% Promotion Cart</span>
                                    <div class="checkUser">
                                        <span class="nameUser">
                                            Enter name
                                            <input type="text" class="textUser" data-bind="attr:{id:'id'+cart().cart_id},event:{ 'keyup': keyUpValid }" >
                                        </span>
                                        <button class="buttonCheck" data-bind="click: function() { validUser(event) }, attr:{id:'id'+cart().cart_id}">Check</button>
                                    </div>
                                    <div class="errorName" data-bind="attr:{id:'id'+cart().cart_id}"><p>There is no such name</p></div>
                                </div>
                            </div>
                         </div>
                        <!-- /ko -->
                        <!-- ko if:cart().status === 'active' -->
                        <div class="back col-md-3 col-sm-6 col-xs-12" data-bind="attr:{id:'id'+cart().cart_id}">
                            <section class="banner_green">

                                </br></br></br></br></br>
                            </section>
                            <div class="bottomCart-back" >
                                <div class="namecart">
                                    <span class="namesCarts pad" data-bind="text:cart().promotion" />
                                    <div class="checkUser">
                                        <div class="date-start">
                                            <span data-bind="text:cart().dataStart"></span>
                                            <span>-</span>
                                            <span data-bind="text:cart().dataFinish"></span>
                                        </div>
                                        <button class="buttonCheck-back" data-bind="click: function() { backCart(event) }, attr:{id:'id'+cart().cart_id}">Back</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    <!-- /ko -->
            </div>
        </section>
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section_cart">
            <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 categories">Used</h1>
            <div class="cart-block " repeat="foreach: carts, item: 'cart'" data-bind="attr:{id:'id'+cart().cart_id}" >
                <!-- ko if:cart().status === 'used' -->
                    <div class="front-used col-md-3 col-sm-6 col-xs-12" data-bind="attr:{id:'id'+cart().cart_id}">
                        <section class="banner_used">

                            </br></br></br></br></br>
                        </section>
                        <div class="bottomCart-used">
                            <div class="namecart">
                                <span class="namesCarts pad" data-bind="text:cart().promotion" />
                                <div class="checkUser-used">
                                    <div class="date-start">
                                        <span data-bind="text:cart().dataStart"></span>
                                        <span> - </span>
                                        <span data-bind="text:cart().dataFinish"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
            </div>
        </section>
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section_cart">
            <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 categories">Unavailable</h1>
            <div class="cart-block " repeat="foreach: carts, item: 'cart'" data-bind="attr:{id:'id'+cart().cart_id}" >
                    <!-- ko if:cart().status === 'unavailable' -->
                    <div class="front-unavailable col-md-3 col-sm-6 col-xs-12" data-bind="attr:{id:'id'+cart().cart_id}">
                        <section class="banner_unavailable">

                            </br></br></br></br></br>
                        </section>
                        <div class="bottomCart-unavailable">
                            <div class="namecart">
                                <span class="namesCarts pad" data-bind="text:cart().promotion">25% Promotion Cart</span>
                                <div class="checkUser-unavailable">
                                    <div class="date-start">
                                        <span data-bind="text:cart().dataStart"></span>
                                        <span> - </span>
                                        <span data-bind="text:cart().dataFinish"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->

                </div>
            </section>

        <div class="errors" style="display: none">
            <h1 class="erors_text">Oops, something went wrong.</br> Call customer support
                <br>Victor Shust </br> +380970094012</h1>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="svg_loader" xmlns:xlink="http://www.w3.org/1999/xlink" style="background:#fff;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g>
                <circle cx="77.8856" cy="50" r="4" fill="#e15b64">
                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s"></animate>
                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
                </circle>
                <circle cx="38.2856" cy="50" r="4" fill="#e15b64">
                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s"></animate>
                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
                </circle>
                <circle cx="58.0856" cy="50" r="4" fill="#e15b64">
                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s"></animate>
                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
                </circle>
            </g><g transform="translate(-15 0)">
            <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#f8b26a" transform="rotate(90 50 50)"></path>
            <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#f8b26a" transform="rotate(34.6284 50 50)">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
            </path>
            <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#f8b26a" transform="rotate(-34.6284 50 50)">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
            </path>
        </g>
        </svg>
    </div>

<!--</div>-->
