@media (min-width: 992px) {
    .row .col-md-3 {
        width: 33%;
    }
}
@media (min-width: 768px) {
    .row .col-md-3 {
        width: 33%;
    }
}
@media (max-width: 764px) {
    .row .cart-block{
        margin-top: 10%;
    }
}
.errorName{
    display: none;
    font-size: 16px;
    color: red;
    font-weight: 900;
    text-align: center;
}
.cart-block{
    margin-top: 5%;
    display: inline-flex;
    height: 170px;
}
.cart-block .banner{
    position: relative;
    background-image: url('../images/cartPromo-yellow.jpg');
    background-position: center;
    background-size: 84%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cart-block .bottomCart{
    background: #ffed26;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cart-block .namecart{
    height: 100%;
    width: 100%;
}
.cart-block .namecart span{
    padding: 2% 0;
    display: block;
    margin: 0 auto;
}
.cart-block .namesCarts{
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: 900;
    font-size: 18px;
}
.cart-block .namecart .nameUser{
    font-size: 16px;
    margin-left: 3%;
    width: 76%;
    padding: 1% 0;
}
.cart-block .namecart .nameUser input{
    width: 40%;
    height: 16px;
    margin-bottom: 2%;
}
.cart-block .namecart .checkUser{
    display: flex;
}
.cart-block .namecart .checkUser .buttonCheck{
    font-size: 14px;
    background: #ffed26;
    border: none;
    font-weight: 900;
    box-shadow: none;
    padding: 0;
}
.front{
    width: 100%;
}

.back{
    width: 100%;
    /*display: none;*/
    transform: rotateY(90deg);
}
.banner_green{
    position: relative;
    background-image: url('../images/cartPromo-green.jpg');
    background-position: center;
    background-size: 84%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bottomCart-back{
    background: #16e36a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buttonCheck-back{
    font-size: 14px;
    background: #16e36a;
    border: none;
    font-weight: 900;
    box-shadow: none;
    margin-left: 6%;
    padding: 0;
}
button:not(.primary){
    box-shadow: none;
}
button:focus, button:active {
    background: #16e36a;
    border: none;
    color: #000;
}



.date-start{
    display: flex;
    font-size: 18px;
    margin-left: 2%;
    width: 76%;
}
.front-used{
    width: 100%;
    /*display: none;*/
    transform: rotateY(90deg);
}
.banner_used{
    position: relative;
    background-image: url('../images/cartPromo-gray.jpg');
    background-position: center;
    background-size: 84%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bottomCart-used {
    background: #727270;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.checkUser-used{
    display: flex;
    text-align: center;
}
.checkUser-used .date-start{
    display: flex;
    font-size: 18px;
    margin-left: 15%;
}
.front-unavailable{
    width: 100%;
    /*display: none;*/
}
.banner_unavailable{
    position: relative;
    background-image: url('../images/cartPromo-red.jpg');
    background-position: center;
    background-size: 84%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bottomCart-unavailable {
    background: #b21e02;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.checkUser-unavailable{
    display: flex;
    text-align: center;
}
.checkUser-unavailable .date-start{
    display: flex;
    font-size: 18px;
    margin: 0 auto;
}
span.namesCarts.pad{
    padding: 8px;
}
span.namesCarts.padd {
    padding: 7px;
}
span.namesCarts.padd.rig{
    padding: 8px;
}
